
# Ignore system-specific files
.DS_Store
Thumbs.db

# Backup files
*~
*.swp
*.bak
*.tmp

# Python cache
*.pyc
__pycache__/
*/__pycache__/

# Build artifacts
*.egg-info/
build/

# Cython compiled
*.so
*.pyd

# Venv
venv/
.venv/
env/
.env/

.obsidian/

# Full lastfmstats JSON export
*/data/lastfmstats-lazulinoother.json
data/
*/docs/build/
/docs/build/

notebooks/
*.ipynb_checkpoints/
